.row-flex {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
}

.col-row-child {
  flex-grow: 1;
  flex-basis: 0;
  padding: 70px;
}

.col-child {
  flex-shrink: 0;
}
