/* Universal Selector, it will select each and every element */
/* and perform a reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// https://stackoverflow.com/questions/31317238/why-use-selector-in-combination-with-before-and-after

html {
  // This defines what 1 rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
